
.center {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

* {

  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;

}

body, header {
  background-color: whitesmoke;
  font:20px georgia, serif;
}

p {
  line-height: 1.8;
}

a.frontenddeveloper:hover {
  color: #ff0000;
}

a.innovator:hover {
  color: #3AED1F;
}

.jumbotron .container {
  position: relative;
  z-index: 2;
}

p {
  word-spacing: 8px;
}

#about, #languages {
  background-color: whitesmoke;
}

#eric, #gomes, #tech, #web, #personal, #startup, #copyright {
  color: #0B0C10;
}

/*#work, #languages, #footer {
  background-image: linear-gradient(to right, #FEFEFE, #F7F7F7);
} */

#development {
  background-image: linear-gradient(#FA8072, #FF0000);
}

#design {
background-image: linear-gradient(#00FA9A, #3AED1F);
}

#production {
  background-image: linear-gradient(#FFFACD, #FECD46);
}

.development, ul {
  text-align: center;
  color: #273043;
}

#globetrot {
  margin-left: 90px;
}

#shelmet {
  margin-right: 90px;
}

br {
  line-height: 10vh;
}

#Globe ul, #Smarthelmet ul {
  color: black;
  padding-bottom: 20px;
}

.fa-github {
  color: purple;
}

.fa-linkedin-in {
  color: blue;
}

.fa-twitter {
  color: lightskyblue;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
} 

#olliespatch:hover .overlay {
  opacity: 1;
  background-color: #37d792;
}

#flypsyde:hover .overlay {
  opacity: 1;
  background-color: #008CBA;
}

#MissBethanyStore:hover .overlay {
  opacity: 1;
  background-color: #eb8b2a;
}

#banner:hover .overlay {
  opacity: 1;
  background-color: gainsboro;
}

#blip:hover .overlay {
  opacity: 1;
  background-color: #e21313;
}

#wavecharge:hover .overlay {
  opacity: 1;
  background-color: #1c5191;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}